.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    height: 20px;
    overflow: hidden;
}

.progress-bar-filler {
    height: 100%;
    transition: width 0.5s ease-in-out;
    border-radius: 4px;
}

.progress-bar-filler.green {
    background-color: #4caf50;
}

.progress-bar-filler.yellow {
    background-color: #ffeb3b;
}

.progress-bar-filler.red {
    background-color: #f44336;
}